site_name: Cloud Native Bootcamp
repo_url: https://github.com/ibm-cloud-architecture/cloud-native-bootcamp

theme:
  name: material
  features:
    - content.code.copy
    - content.tabs.link
    - navigation.top
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.prune
    - navigation.footer
    - navigation.indexes
    - toc.follow
    - search.suggest
    - search.share
  icon:
    repo: fontawesome/brands/github
  logo: images/watson-white-logo.png
  favicon: images/watson-white-logo.png
  font:
    text: IBM Plex Sans
plugins:
  - search
  - git-revision-date-localized:
      type: date
      fallback_to_build_date: true
      strict: false

extra_css:
  - stylesheets/index.css

markdown_extensions:
  - attr_list
  - admonition
  - def_list
  - pymdownx.details
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - tables

nav:
  - Home:
      - index.md
      - Course Agenda: agenda.md
      - Prerequisites: prerequisites.md
      - Cloud Native Challenge: cloudnative-challenge.md
  - Cloud:
      - cloud/index.md
      - Cloud Concepts: cloud/cn-concepts.md
      - Benefits of Cloud: cloud/benefits.md
      - Cloud Applications: cloud/cn-apps.md
  - Containers:
      - containers/index.md
      - Benefits of Container: containers/benefitsContainers.md
      - Image Registries: containers/imageregistry.md
      - Registry Tutorials: containers/registry-tutorials.md
      - References: containers/reference.md
      - Activities/Labs:
          - labs/index.md
          - Containers Lab: labs/containers/index.md
          - Image Registries Lab: labs/containers/container-registry/index.md
  - Kubernetes/OpenShift:
      - openshift/index.md
      - Container Orchestration Concepts: openshift/orchestrationConcepts.md
      - Core Concepts:
          - API Primitives: openshift/core-concepts/index.md
          - Namespaces/Projects: openshift/core-concepts/namespaces-projects/index.md
          - Security Contexts: openshift/configuration/security-contexts/index.md
          - Service Accounts: openshift/configuration/service-accounts/index.md
      - Pods:
          - Pod Basics: openshift/pods/index.md
          - Labels & Selectors: openshift/pods/tagging/index.md
          - Health & Monitoring: openshift/pods/health-checks/index.md
          - Troubleshooting: openshift/pods/troubleshooting/index.md
          - Multi-Container Pods: openshift/pods/multi-container/index.md
          - Scheduling (Taints & Affinity): openshift/pods/scheduling.md
      - State Persistence:
          - Overview: openshift/state-persistence/index.md
          - Volumes: openshift/state-persistence/volumes.md
          - Persistent Volumes & Claims: openshift/state-persistence/pv-pvc.md
      - Configuration:
          - Container Configuration: openshift/configuration/index.md
          - Config Maps: openshift/configuration/config-map/index.md
          - Secrets: openshift/configuration/secrets/index.md
          - Resource Limits: openshift/configuration/limit-ranges/index.md
          - RBAC: openshift/configuration/rbac.md
      - Deployments:
          - Deployment Basics: openshift/deployments/index.md
          - Rolling Updates: openshift/deployments/updates/index.md
          - StatefulSets: openshift/deployments/statefulsets.md
          - DaemonSets: openshift/deployments/daemonsets.md
          - Jobs & CronJobs: openshift/pods/jobs/index.md
          - Horizontal Pod Autoscaler: openshift/deployments/hpa.md
      - Networking:
          - Overview: openshift/services-networking/index.md
          - Services: openshift/services-networking/services.md
          - Routes: openshift/services-networking/routes.md
          - Ingresses: openshift/services-networking/ingress.md
          - Network Policies: openshift/services-networking/network-policies.md
      - Operators:
          - Overview: openshift/operators/index.md
          - Operator Catalog: openshift/operators/operatorCatalog.md
          - Using Operators: openshift/operators/operatorUsage.md
      - Labs:
          - labs/kubernetes/index.md
          - Lab 1 - Pod Creation: labs/kubernetes/lab1/index.md
          - Lab 2 - Probes: labs/kubernetes/lab2/index.md
          - Lab 3 - Debugging: labs/kubernetes/lab3/index.md
          - Lab 4 - Multi-Container: labs/kubernetes/lab4/index.md
          - Lab 5 - Persistent Volumes: labs/kubernetes/lab5/index.md
          - Lab 6 - Pod Configuration: labs/kubernetes/lab6/index.md
          - Lab 7 - Rolling Updates: labs/kubernetes/lab7/index.md
          - Lab 8 - Cron Jobs: labs/kubernetes/lab8/index.md
          - Lab 9 - Services: labs/kubernetes/lab9/index.md
          - Lab 10 - Network Policies: labs/kubernetes/lab10/index.md
  - DevOps/GitOps:
      - devops/index.md
      - DevOps Tools: devops/devopsTools.md
      - Continuous Integration:
          - Tekton Lab: labs/devops/tekton/index.md
          - IBM ToolChain Lab: labs/devops/ibm-toolchain/index.md
          - Jenkins Lab: labs/devops/jenkins/index.md
      - What is GitOps?: devops/gitops.md
      - ArgoCD Lab: labs/devops/argocd/index.md
  - Activities/Labs:
      - labs/index.md
      - Kubernetes Lab Solutions:
          - Solutions Overview: labs/kubernetes/lab-solutions.md
          - Lab 1 Solution: labs/kubernetes/lab1/solution.md
          - Lab 2 Solution: labs/kubernetes/lab2/solution.md
          - Lab 3 Solution: labs/kubernetes/lab3/solution.md
          - Lab 4 Solution: labs/kubernetes/lab4/solution.md
          - Lab 5 Solution: labs/kubernetes/lab5/solution.md
          - Lab 6 Solution: labs/kubernetes/lab6/solution.md
          - Lab 7 Solution: labs/kubernetes/lab7/solution.md
          - Lab 8 Solution: labs/kubernetes/lab8/solution.md
          - Lab 9 Solution: labs/kubernetes/lab9/solution.md
          - Lab 10 Solution: labs/kubernetes/lab10/solution.md
      - IKS Ingress Lab: labs/kubernetes/ingress-iks/index.md
