:root > * {
  --md-primary-fg-color: #161616;
  --md-footer-bg-color: #393939;
}

@font-face {
  font-family: "IBM Plex Mono Medium";
  src: url("fonts/IBMPlexMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Mono Regular";
  src: url("fonts/IBMPlexMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Mono Light";
  src: url("fonts/IBMPlexMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans Light";
  src: url("fonts/IBMPlexSans-Light.otf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans Bold";
  src: url("fonts/IBMPlexSans-Bold.otf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans Regular";
  src: url("fonts/IBMPlexSans-Regular.otf") format("truetype");
}

.header{
  font-size: 16px;
  pointer-events: none;
  font-weight: bold;
}

.sub-section{
  font-size: 14px;
  text-indent: 10px;
}

h1 {
  font-family: "IBM Plex Sans Medium";
  font-size: 17px;
}

h2 {
  font-family: "IBM Plex Sans Text";
  font-size: 16px;
}

h3 {
  font-family: "IBM Plex Sans Light";
  font-size: 15px;
}